@font-face {
  font-family: Dosis-Regular;
  src: url(../fonts/Dosis/static/Dosis-Regular.ttf);
}

@font-face {
  font-family: Dosis-Bold;
  src: url(../fonts/Dosis/static/Dosis-Bold.ttf);
}

@font-face {
  font-family: Dosis-Medium;
  src: url(../fonts/Dosis/static/Dosis-Medium.ttf);
}

@font-face {
  font-family: Nicolatte;
  src: url(../fonts/NICOLATTE.ttf);
}

@font-face {
  font-family: Apercu Mono;
  src: url(../fonts/ApercuMono.ttf);
}

@-webkit-keyframes zoomBounce {
  0% {
    scale: 0;
    opacity: 0;
  }
  30% {
    scale: 0.3;
    opacity: 0.8;
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
  70% {
    scale: 0.8;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes zoomBounce {
  0% {
    scale: 0;
    opacity: 0;
  }
  30% {
    scale: 0.3;
    opacity: 0.8;
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
  70% {
    scale: 0.8;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@-webkit-keyframes growIn {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes growIn {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 992px) {
  /* start of desktop styles */
  main {
    height: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-1 {
    font-size: 50px;
    margin: 0px;
    opacity: 0;
    font-family: Nicolatte, monospace;
    -webkit-animation: zoomBounce 2s 2s forwards;
            animation: zoomBounce 2s 2s forwards;
  }
  .my-2 {
    font-size: 100px;
    margin: 0px;
    -webkit-animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6), blink 0.5s step-end infinite alternate;
            animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6), blink 0.5s step-end infinite alternate;
    border-right: 3px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 6ch;
    font-family: Nicolatte, monospace;
    opacity: 1;
    visibility: hidden;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .my-2 ~ p,
  .my-2 ~ a {
    opacity: 0;
    -webkit-animation: appear 2s 9s forwards;
            animation: appear 2s 9s forwards;
  }
  .big-div {
    text-align: center;
    padding: 50px;
    border-radius: 10%;
    z-index: 2;
  }
  .about-div {
    position: absolute;
    width: 100%;
    height: 620px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: var(--padding-val);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about-div > :nth-child(2),
  .about-div :nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .about-text {
    width: 200px;
    opacity: 0;
    -webkit-animation: appear 2s 7s forwards;
            animation: appear 2s 7s forwards;
  }
  .about-text span {
    display: block;
    padding: 10px;
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: -webkit-transform 1s ease-in;
    transition: transform 1s ease-in;
    transition: transform 1s ease-in, -webkit-transform 1s ease-in;
    color: var(--main-col);
  }
  .about-text span:hover {
    padding-left: 9px;
    border-left: 1px solid var(--main-col);
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  #magic {
    text-decoration: none;
    color: #ffffff;
  }
  #arr {
    height: 20px;
    width: 40px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;
    right: 10%;
    opacity: 0;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
  }
  #arr svg {
    width: 100%;
    fill: var(--main-bg);
  }
  .button {
    background-color: var(--main-col);
    color: var(--main-bg);
    padding: 20px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .button span {
    margin-right: 0px;
    -webkit-transition: margin 1s;
    transition: margin 1s;
  }
  .button:hover {
    cursor: pointer;
  }
  .button:hover > #arr {
    opacity: 1;
  }
  .button:hover > span {
    margin-right: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  /* start of tablet styles */
  main {
    height: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-1 {
    font-size: 50px;
    margin: 0px;
    opacity: 0;
    font-family: Nicolatte, monospace;
    -webkit-animation: zoomBounce 2s 2s forwards;
            animation: zoomBounce 2s 2s forwards;
  }
  .my-2 {
    font-size: 100px;
    margin: 0px;
    -webkit-animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6), blink 0.5s step-end infinite alternate;
            animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6), blink 0.5s step-end infinite alternate;
    border-right: 3px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 6ch;
    font-family: Nicolatte, monospace;
    opacity: 1;
    visibility: hidden;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .my-2 ~ p,
  .my-2 ~ a {
    opacity: 0;
    -webkit-animation: appear 2s 9s forwards;
            animation: appear 2s 9s forwards;
  }
  .big-div {
    text-align: center;
    padding: 50px;
    border-radius: 10%;
    z-index: 2;
  }
  .about-div {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 620px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: var(--padding-val);
    background-color: var(--main-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about-div > :nth-child(2),
  .about-div :nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .about-text {
    width: 200px;
    opacity: 0;
    -webkit-animation: appear 2s 7s forwards;
            animation: appear 2s 7s forwards;
  }
  .about-text span {
    display: block;
    padding: 10px;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  .about-text span:hover {
    padding-left: 9px;
    border-left: 1px solid var(--main-col);
    scale: 1.1;
  }
  #magic {
    text-decoration: none;
    color: #ffffff;
  }
  #arr {
    height: 20px;
    width: 40px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;
    right: 10%;
    opacity: 0;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
  }
  #arr svg {
    width: 100%;
    fill: var(--main-bg);
  }
  .button {
    background-color: var(--main-col);
    color: var(--main-bg);
    padding: 20px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .button span {
    margin-right: 0px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .button:hover {
    cursor: pointer;
  }
  .button:hover > #arr {
    opacity: 1;
  }
  .button:hover > span {
    margin-right: 60px;
  }
  .button h3 {
    margin: 0px;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  main {
    height: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-1 {
    font-size: 35px;
    margin: 0px;
    opacity: 0;
    font-family: Nicolatte, monospace;
    -webkit-animation: zoomBounce 2s 2s forwards;
            animation: zoomBounce 2s 2s forwards;
  }
  .my-2 {
    font-size: 75px;
    margin: 0px;
    -webkit-animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6), blink 0.5s step-end infinite alternate;
            animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6), blink 0.5s step-end infinite alternate;
    border-right: 3px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 6ch;
    font-family: Nicolatte, monospace;
    opacity: 1;
    visibility: hidden;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .my-2 ~ p,
  .my-2 ~ a {
    opacity: 0;
    -webkit-animation: appear 2s 9s forwards;
            animation: appear 2s 9s forwards;
  }
  .big-div {
    text-align: center;
    padding: 50px;
    border-radius: 10%;
    z-index: 2;
  }
  .about-div {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 620px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: var(--padding-val);
    background-color: var(--main-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }
  .about-div > :nth-child(2),
  .about-div :nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .about-text {
    width: 200px;
    opacity: 0;
    -webkit-animation: appear 2s 7s forwards;
            animation: appear 2s 7s forwards;
  }
  .about-text span {
    display: block;
    padding: 10px;
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: -webkit-transform 1s ease-in;
    transition: transform 1s ease-in;
    transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  }
  .about-text span:hover {
    padding-left: 9px;
    border-left: 1px solid var(--main-col);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #magic {
    text-decoration: none;
    color: #ffffff;
  }
  #arr {
    height: 20px;
    width: 40px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: absolute;
    right: 10%;
    opacity: 0;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
  }
  #arr svg {
    width: 100%;
    fill: var(--main-bg);
  }
  .button {
    background-color: var(--main-col);
    color: var(--main-bg);
    padding: 15px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .button span {
    margin-right: 0px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .button h3 {
    margin: 0px;
  }
  .button:hover {
    cursor: pointer;
  }
  .button:hover > #arr {
    opacity: 1;
  }
  .button:hover > span {
    margin-right: 60px;
  }
}
