@font-face {
  font-family: Dosis-Regular;
  src: url(../fonts/Dosis/static/Dosis-Regular.ttf);
}

@font-face {
  font-family: Dosis-Bold;
  src: url(../fonts/Dosis/static/Dosis-Bold.ttf);
}

@font-face {
  font-family: Dosis-Medium;
  src: url(../fonts/Dosis/static/Dosis-Medium.ttf);
}

@font-face {
  font-family: Nicolatte;
  src: url(../fonts/NICOLATTE.ttf);
}

@font-face {
  font-family: Apercu Mono;
  src: url(../fonts/ApercuMono.ttf);
}

header {
  font-family: Dosis-Medium;
  font-size: 16px;
  border-bottom: 1px solid #1f1f1f;
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffffff;
  top: 0;
  z-index: 3;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

ul {
  list-style-type: none;
  width: 600px;
  margin: 0px;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul a {
  color: #000000;
  text-decoration: none;
}
