@font-face {
  font-family: Dosis-Regular;
  src: url(../fonts/Dosis/static/Dosis-Regular.ttf);
}

@font-face {
  font-family: Dosis-Bold;
  src: url(../fonts/Dosis/static/Dosis-Bold.ttf);
}

@font-face {
  font-family: Dosis-Medium;
  src: url(../fonts/Dosis/static/Dosis-Medium.ttf);
}

@font-face {
  font-family: Nicolatte;
  src: url(../fonts/NICOLATTE.ttf);
}

@font-face {
  font-family: Apercu Mono;
  src: url(../fonts/ApercuMono.ttf);
}

@-webkit-keyframes stretch {
  0% {
    width: 40px;
  }
  70% {
    width: 55px;
  }
  100% {
    width: 40px;
  }
}

@keyframes stretch {
  0% {
    width: 40px;
  }
  70% {
    width: 55px;
  }
  100% {
    width: 40px;
  }
}

@media screen and (min-width: 992px) {
  /* Laptop styles */
  header {
    font-family: Dosis-Medium;
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--main-bg);
    top: 0;
    z-index: 3;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 40px;
  }
  ul {
    list-style-type: none;
    width: 600px;
    margin: 0px;
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul li {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  ul a {
    color: var(--main-col);
    text-decoration: none;
  }
  ul .current {
    font-weight: 700;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  ul .current::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--main-col);
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .toggle-switch {
    opacity: 1;
    width: 90px;
    height: 25px;
    padding: 3px 0px;
    background-color: var(--main-col);
    display: block;
    border-radius: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .toggle-switch:hover {
    cursor: pointer;
  }
  .toggle-switch::after {
    content: "";
    width: 40px;
    height: 18px;
    background-color: var(--main-bg);
    display: block;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    right: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2;
    margin: 0px 7px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .toggle-switch.checked {
    background-color: var(--main-col);
  }
  .toggle-switch.checked::after {
    background-color: var(--main-bg);
    right: 0%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-animation: stretch 1s forwards;
            animation: stretch 1s forwards;
  }
  .toggle-switch.unchecked::after {
    -webkit-animation: stretch 1s;
            animation: stretch 1s;
  }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  /* tablet styles */
  header {
    font-family: Dosis-Medium;
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--main-bg);
    top: 0;
    z-index: 3;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 40px;
  }
  ul {
    list-style-type: none;
    width: 600px;
    margin: 0px;
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul li {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  ul a {
    color: var(--main-col);
    text-decoration: none;
  }
  ul .current {
    font-weight: 700;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  ul .current::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--main-col);
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .toggle-switch {
    opacity: 1;
    width: 90px;
    height: 25px;
    padding: 3px 0px;
    background-color: var(--main-col);
    display: block;
    border-radius: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .toggle-switch:hover {
    cursor: pointer;
  }
  .toggle-switch::after {
    content: "";
    width: 40px;
    height: 18px;
    background-color: var(--main-bg);
    display: block;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    right: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2;
    margin: 0px 7px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .toggle-switch.checked {
    background-color: var(--main-col);
  }
  .toggle-switch.checked::after {
    background-color: var(--main-bg);
    right: 0%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-animation: stretch 1s forwards;
            animation: stretch 1s forwards;
  }
  .toggle-switch.unchecked::after {
    -webkit-animation: stretch 1s;
            animation: stretch 1s;
  }
}

@media screen and (max-width: 479px) {
  /* mobile styles */
  @-webkit-keyframes stretch {
    0% {
      width: 16px;
    }
    70% {
      width: 25px;
    }
    100% {
      width: 16px;
    }
  }
  @keyframes stretch {
    0% {
      width: 16px;
    }
    70% {
      width: 25px;
    }
    100% {
      width: 16px;
    }
  }
  header {
    font-family: Dosis-Medium;
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--main-bg);
    top: 0;
    z-index: 3;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul {
    list-style-type: none;
    width: 300px;
    margin: 0px;
    padding: 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul li {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  ul a {
    color: var(--main-col);
    text-decoration: none;
  }
  ul .current {
    font-weight: 700;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  ul .current::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--main-col);
    border-radius: 50%;
    width: 7px;
    height: 7px;
  }
  .toggle-switch {
    opacity: 1;
    width: 45px;
    height: 14px;
    padding: 3px 0px;
    background-color: var(--main-col);
    display: block;
    border-radius: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .toggle-switch:hover {
    cursor: pointer;
  }
  .toggle-switch::after {
    content: "";
    width: 16px;
    height: 8px;
    background-color: var(--main-bg);
    display: block;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    right: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2;
    margin: 0px 7px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .toggle-switch.checked {
    background-color: var(--main-col);
  }
  .toggle-switch.checked::after {
    background-color: var(--main-bg);
    right: 0%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-animation: stretch 1s forwards;
            animation: stretch 1s forwards;
  }
  .toggle-switch.unchecked::after {
    -webkit-animation: stretch 1s;
            animation: stretch 1s;
  }
}
