@-webkit-keyframes shutRight {
  0% {
    width: 0vw;
    border-right: 10px solid black;
  }
  100% {
    width: 20vw;
    border-width: 0px;
  }
}

@keyframes shutRight {
  0% {
    width: 0vw;
    border-right: 10px solid black;
  }
  100% {
    width: 20vw;
    border-width: 0px;
  }
}

@-webkit-keyframes shutLeft {
  0% {
    width: 0vw;
    border-right: 10px solid black;
  }
  100% {
    width: 40vw;
    border-width: 0px;
  }
}

@keyframes shutLeft {
  0% {
    width: 0vw;
    border-right: 10px solid black;
  }
  100% {
    width: 40vw;
    border-width: 0px;
  }
}

@-webkit-keyframes hide {
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  /* start of desktop styles */
  .my-work {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .my-work h1 {
    text-align: center;
  }
  .banner-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
  }
  .banner {
    -webkit-transition: all 1s;
    transition: all 1s;
    width: 60vw;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: 3;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .banner:hover {
    border-radius: 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 30px -10px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 30px -10px;
  }
  .banner:hover .left-shutter {
    -webkit-animation: shutLeft 1s forwards;
            animation: shutLeft 1s forwards;
  }
  .banner:hover .right-shutter {
    -webkit-animation: shutRight 1s forwards;
            animation: shutRight 1s forwards;
  }
  .banner:hover .info {
    -webkit-animation: hide 1s forwards 1s;
            animation: hide 1s forwards 1s;
  }
  .banner:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .banner:hover .back-image {
    display: none;
  }
  .banner img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .slider-arrows {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 10%;
    padding: 0px 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider-arrows > * {
    width: 40px;
    fill: var(--main-col);
    opacity: 0.6;
    margin: 0px 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .slider-arrows > *:hover {
    fill: var(--main-col);
    opacity: 1;
    cursor: pointer;
  }
  .slider-arrows > :first-child {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
  .slider-arrows > :first-child:hover {
    -webkit-transform: scale(-1, 1) translateX(20%);
            transform: scale(-1, 1) translateX(20%);
  }
  #arrow_right {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #arrow_right:hover {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  .slider-navigation {
    margin-top: 10px;
  }
  .slider-navigation > * {
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border-radius: 50%;
    border: 1px solid var(--main-col);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .slider-navigation > *:hover {
    cursor: pointer;
  }
  .focus {
    background-color: var(--main-col);
    border: 1px solid var(--main-bg);
  }
  .left-shutter,
  .right-shutter {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .left-shutter {
    width: 0px;
    left: 0;
  }
  .right-shutter {
    width: 0px;
    right: 0;
  }
  .info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    padding: 30px 30px 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    text-align: left;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  .info::-webkit-scrollbar {
    display: none;
  }
  .info p a {
    color: var(--main-bg);
    text-decoration: none;
  }
  .info p a:hover {
    text-decoration: underline;
  }
  .info h3 {
    margin: 5px;
  }
  .info .tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }
  .info .tools > * {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 0px;
    border-right: 1px solid white;
  }
  .info .buttons {
    margin-top: 20px;
  }
  .info .buttons .view {
    background-color: #ffffff;
    color: #000000;
  }
  .info .buttons span {
    margin-right: 20px;
    display: inline-block;
    color: var(--main-col);
    background-color: var(--main-bg);
  }
  .skills {
    width: 100%;
    background-color: var(--main-col);
    color: var(--main-bg);
    padding: 10px 0px 40px 0px;
    margin-top: 80px;
    border-radius: 10px;
  }
  .skills h3 {
    text-align: center;
  }
  .skills-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
  }
  .skills-main div > div {
    padding: 0px 30px;
  }
  .skills-main img {
    width: 120px;
  }
  .skills-main p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .mobile-work {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  /* start of tablet styles */
  .my-work {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .my-work h1 {
    text-align: center;
  }
  .banner-wrapper {
    display: none;
  }
  .mobile-work {
    margin-top: 10px;
    padding: 20px;
  }
  .mobile-work > * {
    margin-bottom: 120px;
  }
  .mobile-work .img-border {
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -10px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -10px;
  }
  .mobile-work .img-border img {
    width: 100%;
    display: block;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .mobile-work .img-border img:hover {
    scale: 1.1;
  }
  .mobile-work .tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }
  .mobile-work .tools > * {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 0px;
    border-right: 1px solid var(--main-col);
  }
  .mobile-work .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: var(--main-bg);
    margin-bottom: 30px;
  }
  .mobile-work .buttons > * {
    margin-right: 20px;
  }
  .mobile-work .buttons a {
    text-decoration: none;
  }
  .mobile-work .skills {
    background-color: var(--main-col);
    color: var(--main-bg);
    padding: 25px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .mobile-work .skills h3 {
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 3px solid var(--main-bg);
  }
  .mobile-work .skills-main {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
  .mobile-work .skills-main > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px dashed var(--main-bg);
  }
  .mobile-work .skills-main div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0px;
  }
  .mobile-work .skills-main div > div:hover {
    text-decoration: underline;
  }
  .mobile-work .skills-main img {
    max-width: 130px;
    margin-left: 25px;
  }
  .mobile-work .skills-main p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .mobile-work .skills-main hr {
    width: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .my-work {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .my-work h1 {
    text-align: center;
  }
  .banner-wrapper {
    display: none;
  }
  .mobile-work {
    margin-top: 10px;
    padding: 20px;
  }
  .mobile-work > * {
    margin-bottom: 100px;
  }
  .mobile-work .img-border {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -10px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -10px;
  }
  .mobile-work .img-border img {
    width: 100%;
    display: block;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .mobile-work .img-border img:hover {
    scale: 1.1;
  }
  .mobile-work .tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }
  .mobile-work .tools > * {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 0px;
    border-right: 1px solid var(--main-col);
  }
  .mobile-work .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: var(--main-bg);
    margin-bottom: 30px;
  }
  .mobile-work .buttons > * {
    margin-right: 20px;
  }
  .mobile-work .buttons a {
    text-decoration: none;
  }
  .mobile-work .skills {
    background-color: var(--main-col);
    color: var(--main-bg);
    padding: 25px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .mobile-work .skills h3 {
    margin: 0px;
    text-align: center;
    border-bottom: 3px solid var(--main-bg);
  }
  .mobile-work .skills-main {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
  .mobile-work .skills-main > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px dashed var(--main-bg);
  }
  .mobile-work .skills-main div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0px;
  }
  .mobile-work .skills-main div > div:hover {
    text-decoration: underline;
  }
  .mobile-work .skills-main img {
    width: 50px;
    margin-left: 10px;
  }
  .mobile-work .skills-main p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .mobile-work .skills-main hr {
    width: 10px;
    margin-right: 10px;
  }
}
