@font-face {
  font-family: Dosis-Regular;
  src: url(../fonts/Dosis/static/Dosis-Regular.ttf);
}
@font-face {
  font-family: Dosis-Bold;
  src: url(../fonts/Dosis/static/Dosis-Bold.ttf);
}
@font-face {
  font-family: Dosis-Medium;
  src: url(../fonts/Dosis/static/Dosis-Medium.ttf);
}
@font-face {
  font-family: Nicolatte;
  src: url(../fonts/NICOLATTE.ttf);
}
@font-face {
  font-family: Apercu Mono;
  src: url(../fonts/ApercuMono.ttf);
}
