@import "config";

@keyframes rotateIt {
  // from {
  //   // transform: rotate(0deg);
  //   scale: 0;
  //   // opacity: 0;
  // }
  // to {
  //   // transform: rotate(360deg);
  //   scale: 1;
  //   // opacity: 1;
  // }

  0% {
    scale: 0;
    opacity: 0;
  }
  30% {
    scale: 0.3;
    opacity: 0.8;
  }
  50% {
    scale: 1.2;
    opacity: 1;
  }
  70% {
    scale: 0.8;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

main {
  height: 620px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-1 {
  font-size: 50px;
  margin: 0px;
  opacity: 0;
  font-family: Nicolatte, monospace;

  animation: rotateIt 2s 2s forwards;
}
.my-2 {
  font-size: 100px;
  margin: 0px;
  animation: show 1s 4.5s forwards, typing 2s 4.5s steps(6),
    blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
  overflow: hidden;
  white-space: nowrap;
  width: 6ch;
  font-family: Nicolatte, monospace;
  opacity: 1;
  visibility: hidden;
}

.big-div {
  text-align: center;
  //   border: 1px solid black;
  padding: 50px;
  border-radius: 10%;
  z-index: 2;

  //   animation: rotateIt 1s;
}

.about-div {
  position: absolute;
  width: 100%;
  height: 620px;
  box-sizing: border-box;
  padding: var(--padding-val);

  display: grid;
  grid-template-columns: 1fr 1fr;

  & > :nth-child(2),
  :nth-child(4) {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
}

.about-text {
  width: 200px;
}

.button {
  background-color: var(--main-col);
  color: var(--main-bg);
  padding: 20px;
  transition: all 1s;
  &:hover {
    cursor: pointer;
  }
}
