.work-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    img {
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.03);
        }
    }
    .img-wrapper {
        margin-bottom: 1rem;
        cursor: pointer;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    h3 {
        margin: 1.5rem 0;
        text-align: center;
        border-bottom: 3px solid var(--main-bg);
    }
}
.skills-list {
    list-style-type: square;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.2rem;
    row-gap: 0.5rem;
    list-style-position: inside;
    // text-align: center;
    max-width: 600px;
    width: max-content;
}

.skills-main {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    img {
        width: 50px;
        max-width: 50px;
        min-width: 50px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    /* start of desktop styles */

    .my-work {
        padding: 10px 100px;
        box-sizing: border-box;
        overflow: hidden;

        h1 {
            text-align: center;
        }
    }

    .mobile-work {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
    /* start of tablet styles */
    #skills {
        display: none;
    }
    .work-items {
        display: none;
    }
    .my-work {
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;

        h1 {
            text-align: center;
        }
    }

    .banner-wrapper {
        display: none;
    }

    .mobile-work {
        margin-top: 10px;
        padding: 20px;
        > * {
            margin-bottom: 120px;
        }
        h3 {
            margin: 2rem 0 0.5rem 0;
        }
        p {
            line-height: 1.5rem;
        }

        .img-border {
            border-radius: 15px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -10px;
            margin-bottom: 1rem;

            img {
                width: 100%;
                display: block;
                transition: all 1s;
                &:hover {
                    scale: 1.1;
                }
            }
        }

        .tools {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            > * {
                padding-right: 10px;
                margin-right: 10px;
                margin-top: 0px;
                border-right: 1px solid var(--main-col);
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            color: var(--main-bg);
            margin-bottom: 30px;

            > * {
                margin-right: 20px;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .skills {
        h3 {
            text-align: left;
        }
        .skills-main ul {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            list-style-type: square;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    #skills {
        display: none;
    }
    .work-items {
        display: none;
    }
    .my-work {
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;

        h1 {
            text-align: center;
        }
    }

    .banner-wrapper {
        display: none;
    }
    .mobile-work {
        margin-top: 10px;
        padding: 20px;
        > * {
            margin-bottom: 100px;
        }
        h3 {
            margin: 2rem 0 0.5rem 0;
        }
        p {
            line-height: 1.5rem;
        }
        .img-border {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -10px;
            margin-bottom: 1rem;
            img {
                width: 100%;
                display: block;
                transition: all 1s;
                &:hover {
                    scale: 1.1;
                }
            }
        }

        .tools {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            > * {
                padding-right: 10px;
                margin-right: 10px;
                margin-top: 0px;
                border-right: 1px solid var(--main-col);
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            color: var(--main-bg);
            margin-bottom: 30px;

            > * {
                margin-right: 20px;
            }
            a {
                text-decoration: none;
            }
        }
    }

    .skills {
        h3 {
            text-align: left;
        }
        .skills-main ul {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            list-style-type: square;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 0 20px;
        }
    }
}
